.digit {
  display: inline-block;
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
  border-color: lightgrey;
}

.digit-wrapper {
  font-size: 24px;
  display: inline-block;
  border-right: solid;
  border-color: lightgrey;
}

.log-paragraph {
  font-size: 24px;
  margin-top: 10px;
  font-size: 20px;
}

.length-paragraph {
  font-size: 24px;
  margin-top: 10px;
  font-size: 20px;
}
