.big-input {
  text-align: center;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.number-display {
  text-align: center;
  width: 200px;
  position: relative;
  left: -50px;
  top: 20px;
}

.length-display {
  width: 200px;
  text-align: center;
  position: relative;
  left: -50px;
  top: 12px;
}

.log-length-demo {
  font-size: 24px;
  width: 500px;
  margin: auto;
  text-align: center;
}

.brace {
  width: 100px;
  top: 10px;
  position: relative;
}

.absolute {
  position: absolute;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
