.emaildownTemplate li {
  list-style: none;
}

.emaildownTemplate ul {
  padding-left: 20px;
}

.emaildownTemplate > div {
  padding-left: 20px;
}

.emaildownTemplate {
  margin-left: -20px;
}

.greyed-out {
  color: lightgrey;
}

.greyed-out a {
  color: lightblue;
}
